<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="utf-8">
  <title>Microservice Demo</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="css/sweetalert.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type='text/javascript' src="js/angular.js"></script>
  <script type='text/javascript' src="js/angular-cookies.js"></script>
  <script type='text/javascript' src="js/ngApp.js"></script>
  <script type='text/javascript' src="js/ngService.js"></script>
  <script type='text/javascript' src="js/ngCtrl.js"></script>
  <script type='text/javascript' src="js/SweetAlert.js"></script>
  <script type='text/javascript' src="js/sweet-alert.min.js"></script>
  <style>
    h1 {
      margin-left: 10px;
    }

    .m-b-10 {
      margin-bottom: 10px;
    }

    .m-t-5 {
      margin-top: 5px;
    }
    .m-r-15 {
      margin-right: 15px;
    }
  </style>
</head>


<body ng-app="bookStore" ng-controller="bsCtrl as u">
  <script type="text/javascript">
    var item = "3";
  </script>
  <h1>微服務書城</h1>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
      <a  class="navbar-brand m-r-15" href="http://192.168.99.100:8080/Client_APP1.html"><i class="fa fa-user fa-lg"></i>使用者維護管理</a>
      <a  class="navbar-brand m-r-15" href="http://192.168.99.100:8080/Client_APP2.html"><i class="fa fa-book fa-lg"></i></i>書籍維護管理</a>
      <a  class="navbar-brand m-r-15" href="http://192.168.99.100:8080/Client_APP3.html"><i class="fa fa-reorder fa-lg"></i>訂單維護管理</a>
      <a  class="navbar-brand m-r-15" href="#" ng-click="u.signout()"><i class="fa fa-sign-out text-danger"></i>登出</a>
      </div>
    </div>
  </nav>
  <div class="container" ng-controller="bsCtrl as u">
    <div class="row">
      <div ng-if="u.errMsg" ng-class="{'alert alert-danger alert-dismissable fade in':u.errMsg}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        <span ng-bind="u.errMsg"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-warning">
          <div class="panel-heading ">
            <h3 class="panel-title">訂單維護管理</h3>
          </div>
          <div class="panel-body">

            <button class="btn btn-warning m-b-10" ng-click="u.opModal('show')">新增資料</button>
            <table id="tb" class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>商品名稱</th>
                  <th>訂購者</th>
                  <th>數量</th>
                  <th>價格</th>
                  <th>總金額</th>
                  <th>編輯</th>
                  <th>刪除</th>
                </tr>
              </thead>
              <tbody ng-repeat="order in u.Orders">
                <tr>
                  <td ng-bind="order._id"></td>
                  <td ng-bind="order.name"></td>
                  <td ng-bind="order.orderer"></td>
                  <td ng-bind="order.quantity"></td>
                  <td ng-bind="order.price"></td>
                  <td ng-bind="order.totalamount"></td>
                  <td>
                    <a href="#" ng-click="u.fetchData(order)">
                      <i class="fa fa-pencil fa-lg text-primary"></i>
                    </a>
                  </td>
                  <td>
                    <a href="#" ng-click="u.delData(order)">
                      <i class="fa fa-trash-o fa-lg text-danger"></i>
                    </a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- panel end -->
    <!-- modal start -->
    <form class="form-horizontal">
      <input type="hidden" ng-model="u.app.id">
      <div class="modal fade" id="OrdersModal" tabindex="-1" role="dialog" aria-labelledby="modalViewLabel" aria-hidden="true"
        style="display: none">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" ng-click="u.opModal('hide')" aria-hidden="true">×</button>
              <h4 class="modal-title" id="modalViewLabel">訂單維護管理</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-md-2 control-label">商品名稱</label>
                <div class="col-md-4">
                  <input type="text" ng-model="u.app.name" class="form-control" required placeholder="請填入姓名">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">訂購者</label>
                <div class="col-md-4">
                  <input type="text" ng-model="u.app.orderer" class="form-control" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">數量</label>
                <div class="col-md-4">
                  <input type="number" ng-model="u.app.quantity" class="form-control" ng-change="u.totalAmount(u.app)" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">價格</label>
                <div class="col-md-4">
                  <input type="number" ng-model="u.app.price" class="form-control"  required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">總金額</label>
                <div class="col-md-4">
                  <input type="number" ng-model="u.app.totalamount" class="form-control" required>
                </div>
              </div>
            </div>
            <!-- end modal body-->
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" ng-if="!u.app.id" ng-click="u.saveData(true)">新增</button>
              <button type="button" class="btn btn-success" ng-if="u.app.id" ng-click="u.saveData()">修改</button>
              <button type="button" class="btn btn-danger" ng-if="u.app.id" ng-click="u.delData(u.app)">刪除</button>
            </div>
          </div>
        </div>

      </div>
    </form>
    <!-- modal end -->

  </div>
  <!-- container end-->
</body>

</html>